<div class="misc-pub-section">
    <input id="apiposts_enable_api" name="apiposts_enable_api" type="checkbox" value="yes" {% if checked %} checked="yes" {% endif %} />
    <label for="apiposts_enable_api" class="selectit">Enable Post API</label>
</div>
